@model HomeIndexViewModel
@{
    ViewBag.Title = "Anasayfa";
}

@if (Model != null)
{
    <hr />

    if (Model.Categories.Any())
    {
        <div class="row">
            @foreach (var item in Model.Categories)
            {
                <div class="col">
                    <a class=" btn btn-block btn-outline-primary">
                        @item.Name
                    </a>
                    <hr />
                    @Html.Raw(item.Description)
                </div>
            }
        </div>
    }


    <hr />
    if (Model.News.Any())
    {
        <div class="row">
            @foreach (var item in Model.News)
            {
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img src="@item.NewsImagePath" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.NewsTitle</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@item.NewsSubTitle</h6>
                            <p class="card-text">@item.NewsInformation</p>
                            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                            <a> @item.CategoryName</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }


}
